nav{text-align: center;}

nav ul {display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        margin-top:0;
        background-image: url(RWgradient.avif);
        font-size: 25px; }

nav li{margin-right: 60px;
       font-weight: bold;
       font-size: 25px;
        margin-bottom: .3in;}

nav a{text-decoration: none;}

nav a:link {color: white;}

nav a:visited{color: white;}

body{margin:0;
        color: white;
        background-color: black;
        font-family: "bookman", serif;}

footer{font-family: "bookman", serif;
        font-style: italic;
        text-align: center;
        padding-top: 1in;}

span{display: inline-block;}

img{display:inline-block;}

table{margin-left: 30%;
        table-layout:fixed;
          display:inline-block;}

th{font-size: x-large;
      padding: 30px;}

td{margin-top: 25px;
        padding:15px;
        max-width: 350px !important;
        padding-bottom:20%;
        overflow:hidden;
        font-size: large;}

form{text-align:center;}

#BHeader{float: left; 
        width: 10.5%;
        height: 10%;
        margin-top: .6in;
        margin-left:1%;
        margin-right:.5%;
        word-wrap: break-word;
        font-size: 40px;
        text-align: left;
        color: white;
        padding-left: 1%;}

#BText{margin-left: 2%;
        padding-top: .1in;
        width: 85%; 
        font-family: "bookman", serif;
        font-size: 25px;
        padding-right: 15px;}

#Fake1{width:500px;
        height: 500px;
        display: inline-block;
        text-align: left;
        background-image: url("MainPageEx1.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 5%;
        margin-top: 1in;
        border: solid white 4px;}

#Fake1cap{width: 5%;
        display: inline;
        font-size: 15px;
        float:left;
        padding-top:1in;
        margin-left:.3in;}

#Fake2{width:500px;
        height: 500px;
        float: right;
        background-image: url("fake2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 5%;
        border: solid white 4px;
        margin-right: 2in;
        margin-top: 1in;}

#Fake2cap{width: 8%; 
        display:inline;
        font-size: 15px; 
        float:right;
        padding-top:1in; 
        margin-left:.3in;}

#right{float:right;
        margin-right:10%;
        padding-top:3%;}


#misinfo{margin:0;
        height: 550px;
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1in;
        padding-top: 0;
        background-image: url("misinformationgraphic.jpg");
        background-repeat: no-repeat;
        background-size:100% 100%;}

#aboutMe{background-image:url("aboutme.jpg");
        background-size: cover;
        height:500px;
        width:500px;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: .5in;
        border: solid white 8px;}

#skeptic{background-image: url(skepticism.jpg);
        background-repeat: no-repeat;
        height:300px;
        width:245px;
        float: left;
        display:flex;
        margin-top: 0in;
        margin-bottom: 0;}

#centervid{margin-top: 2in;
        margin-left: 7.6in;
        margin-right:7.5in;}

#popepic{background-image: url("popepuffer.jpg");
        height: 550px;
        width: 25%;
        margin-left: auto;
        margin-right: auto;}
        
#center{text-align: center;
        margin-left: 30%;
        margin-right: 30%;}
        
.vl {border-left: 6px solid white;
        height: 540px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        margin-top: 12in;
        top: 0;}

#Caretxt{margin-left: 3in; 
        margin-right: 5in; 
        font-size: large; 
        display:flex;}

#Effectstxt{text-align: center; 
        margin-left:5in; 
        margin-right: 5in; 
        font-size:large;}
        
.imgContainer{float:left;}
@media (max-width: 600px){

nav ul{flex-direction:column;}

#BHeader{float: none; 
        width: 100%;
        height: initial;
        margin-top: .6in;
        margin-left:initial;
        margin-right:initial;
        word-wrap: initial;
        word-break:keep-all;
        font-size: 40px;
        text-align: center;
        color: white;
        padding-left: 1%;}

#BText{margin-left: initial;
        padding-top: .1in;
        width: 85%; 
        font-family: "bookman", serif;
        font-size: 25px;
        text-align:center;
        padding-right: initial;}

#Fake1{width: 300px;
        height: 300px;
        display: inline-block;
        text-align: initial;
        background-image: url("MainPageEx1.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right:auto;
        margin-top: 1in;
        border: solid white 4px;}

#Fake1cap{float:none;
        text-align:center;
        font-size:small;}

#Fake2{width:300px;
        height: 300px;
        float: none;
        background-image: url("fake2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        border: solid white 4px;
        margin-right: 2in;
        margin-top: 1in;}

#Fake2cap{width: 75%; 
        display:inline;
        font-size: small; 
        float:none;
        text-align:center;
        padding-top:1in;}

#aboutMe{background-image:url("aboutme.jpg");
        background-size: cover;
        height:300px;
        width:300px;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: .5in;
        border: solid white 8px;}

#Caretxt{margin-left: 3in; 
        margin-right: 5in; 
        font-size: large; 
        display:initial;}

#skeptic{background-image: url(skepticism.jpg);
        background-repeat: no-repeat;
        height:300px;
        width:245px;
        float: left;
        display:initial;
        margin-top: 0in;
        margin-bottom: 0;}

}
@media (max-width:1024px){
nav ul{flex-direction:column;}

#BHeader{float: none; 
        width: 100%;
        height: initial;
        margin-top: .6in;
        margin-left:initial;
        margin-right:initial;
        word-wrap: initial;
        word-break:keep-all;
        font-size: 40px;
        text-align: center;
        color: white;
        padding-left: 1%;}
        
#BText{margin-left: initial;
        padding-top: .1in;
        width: 85%; 
        font-family: "bookman", serif;
        font-size: 25px;
        text-align:center;
        padding-right: initial;}
        
#Fake1{width: 300px;
        height: 300px;
        display: block;
        text-align: initial;
        background-image: url("MainPageEx1.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right:auto;
        margin-top: 1in;
        border: solid white 4px;}
        
 #Fake1cap{float:none;
                text-align:center;
                font-size:small;}
        
#Fake2{width:400px;
        height: 400px;
        float: none;
        display:block;
        background-image: url("fake2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        border: solid white 4px;
        margin-right: 2in;
        margin-top: 1in;}
        
#Fake2cap{width: 75%; 
        display:inline;
        font-size: small; 
        float:none;
        text-align:center;
        padding-top:1in;}
#aboutMe{background-image:url("aboutme.jpg");
        background-size: cover;
        height:300px;
        width:300px;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: .5in;
        border: solid white 8px;}
}
        